html, body {
	font-family: Georgia, serif;
	margin: .5%;
}

body {
	background-color: black;
}
h1 {
	font-family: "Lucida Handwriting", serif;
	color: #8C456C;
}

h2 {
	font-family: "Georgia", serif;
	color: #BF9AE0;
	font-size: 22px;
	font-weight: bold;
}

h3 {
	font-family: "Georgia", serif;
	color: #698EBF;
	font-size: 18px;
	font-weight: normal;
}

h5 {
	font-family: "Georgia", serif;
	color: #698EBF;
	font-size: 14px;
	font-weight: normal;
}


p {
	font-size: 16px;
	font-family: "Georgia", serif;
	color: #FFFFFF;
}

figcaption {
	font-size: 1em;
	font-family: "Georgia", serif;
	font-style: italic; 
	color: #FFFFFF;
}

a {
	text-decoration: underline;
	color: #BF9AE0;
	
}

p {
	margin: 1px;  
}

footer {
	position: fixed; 
	left: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	bottom: 0;
}

footer a {
	margin-right: 7px;
	
}

a:visited {
	color: #BF9AE0;
}