html, body {
	font-family: "Georgia", serif;
	background-color: black;
	margin: 1%;
}

header {
   	width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

h1 {
	font-family: "Brush Script MT", serif;
	color: #8C456C;
	font-size: 39px;
	font-weight: bold;
}

h2 {
	font-family: "Georgia", serif;
	color: #BF9AE0;
	font-size: 26px;
	font-weight: bold;
}

h3 {
	font-family: "Brush Script MT", serif;
	color: #698EBF;
	font-size: 35px;
	font-weight: bold;
	padding-right: 10px;
}

p {
	font-size: 16px;
	font-family: "Arial", serif;
	color: #FFFFFF;
	padding-bottom: 7px; 
}

figcaption {
	font-size: 1em;
	font-family: "Georgia", serif;
	font-style: italic; 
	color: #FFFFFF;
}

a {
	text-decoration: underline;
	color: #BF9AE0;
}

footer {
	position: relative; 
	width: 100%;
	text-align: center;
	color: #698EBF;
	padding: 10px 0;
	margin-top: 20px; 
}

footer a {
	margin-right: 7px;
	color: #698EBF; 
}

a:visited {
	color: #BF9AE0;
}